.item {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: rgb(8, 55, 209);
}

.result {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: rgb(189, 7, 134);
}
